// Place all the styles related to the admins/sell_cds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-new{
	padding: 10px;
	margin: 30px auto;
	width: 600px;
	border-style: solid;
}
.field{
	padding: 10px;

}


.nested-fields-disc{
	padding: 5px;
	border: 1px solid;
	margin: 5px 0;
}

.discs{
	padding: 10px;
}

.edit-cd-image-form{
	height: 10%;
}

.edit-cd-image{
	width: 50%;
}