<%= render "layouts/admin_header"%>

<div class="bg-container">
			<h1>Genre</h1>
			<p>削除すると、そのLabelが持つ全てのCDが削除されます。</p>

<table>
	<thead>
		<tr>
		</tr>
	</thead>
	<tbody>
		<% @genres.each do |genre| %>
		<tr>
			<td><%= link_to genre.genre, admins_sell_cds_genre_show_path(genre.id) %></td>
			<td><span><%= link_to "編集" , admins_sell_cds_genre_edit_path(genre.id)%></span>  /  <apan><%= link_to "削除",admins_sell_cds_genre_destroy_path(genre.id),method: :delete, data: { confirm: '削除すると、そのLabelが持つ全てのCDが削除されます。本当に削除しますか？'} %></apan></td>
		</tr>
		</tr>
		<% end %>
	</tbody>
</table>

</div>
