<%= render "layouts/admin_header"%>

<h1>Label編集画面</h1>
<p>（注意）ここでLabel名を変更するとそのLabelが持つ全てのCDのLabel名も変更されます。</p>

<div class="main-new">
	<%= form_for(@label , url: admins_sell_cds_label_update_path) do |f| %>
	<h4>Label</h4>
	 <%= f.text_field :label ,class:"col-xs-12"%>
	    <%= f.submit "Update Label",:class =>"btn btn-primary btn-lg btn-block"%>
	  </div>
	<% end %>
</div>