
<div class="container">

<div class="main">

  <h1>New Arrival</h1>

  <div class="boxes">
    <div class="box">
      <table border="1" rules="none">
          <tr><td><img src=".jpg" width="20%"></td></tr>
          <tr><td>title</td></tr>
          <tr><td>artist</td></tr>
          <tr><td><span class="value">value　</span><span class="sale_status">sale status</span></td></tr>
      </table>
    </div>

    <div class="box">
      <table border="1" rules="none">
          <tr><td><img src=".jpg" width="20%"></td></tr>
          <tr><td>title</td></tr>
          <tr><td>artist</td></tr>
          <tr><td><span class="value">value　</span><span class="sale_status">sale status</span></td></tr>
      </table>
    </div>

    <div class="box">
      <table border="1" rules="none">
          <tr><td><img src=".jpg" width="20%"></td></tr>
          <tr><td>title</td></tr>
          <tr><td>artist</td></tr>
          <tr><td><span class="value">value　</span><span class="sale_status">sale status</span></td></tr>
      </table>
    </div>

    <div class="box">
      <table border="1" rules="none">
          <tr><td><img src=".jpg" width="20%"></td></tr>
          <tr><td>title</td></tr>
          <tr><td>artist</td></tr>
          <tr><td><span class="value">value　</span><span class="sale_status">sale status</span></td></tr>
      </table>
    </div>

    <div class="box">
      <table border="1" rules="none">
          <tr><td><img src=".jpg" width="20%"></td></tr>
          <tr><td>title</td></tr>
          <tr><td>artist</td></tr>
          <tr><td><span class="value">value　</span><span class="sale_status">sale status</span></td></tr>
      </table>
    </div>

  </div>

  </div>

</div>
