
<div class="container">

  <div class="main">

    <h1>New Arrival</h1>

    <div class="boxes">
      <div class="box">
        <table border="1" rules="none">
            <tr><td colspan="2"><img src=".jpg" width="20%"></td></tr>
            <tr><td colspan="2">title</td></tr>
            <tr><td colspan="2">artist</td></tr>
            <tr><td>value</td><td>sale status</td></tr>
        </table>
      </div>

      <div class="box">
        <table border="1" rules="none">
            <tr><td colspan="2"><img src=".jpg" width="20%"></td></tr>
            <tr><td colspan="2">title</td></tr>
            <tr><td colspan="2">artist</td></tr>
            <tr><td><span>value</td><td>sale status</td></tr>
        </table>
      </div>

      <div class="box">
        <table border="1" rules="none">
            <tr><td colspan="2"><img src=".jpg" width="20%"></td></tr>
            <tr><td colspan="2">title</td></tr>
            <tr><td colspan="2">artist</td></tr>
            <tr><td><span>value</td><td>sale status</td></tr>
        </table>
      </div>

      <div class="box">
        <table border="1" rules="none">
            <tr><td colspan="2"><img src=".jpg" width="20%"></td></tr>
            <tr><td colspan="2">title</td></tr>
            <tr><td colspan="2">artist</td></tr>
            <tr><td><span>value</span></td><td><span>sale status</span></td></tr>
        </table>
      </div>

      <div class="box">
        <table border="1" rules="none">
            <tr><td colspan="2"><img src=".jpg" width="20%"></td></tr>
            <tr><td colspan="2">title</td></tr>
            <tr><td colspan="2">artist</td></tr>
            <tr><td><span>value</span></td><td><span>sale status</span></td></tr>
        </table>
      </div>

    </div>

  </div>

</div>
