<table class="table table-striped">
	<tr>
		<td colspan="2">名前</td>
		<td colspan="2">カナ</td>
		<td>郵便番号</td>
		<td>住所</td>
		<td>電話番号</td>
		<td>メールアドレス</td>
		<td>登録日</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>a</td>
		<td>a</td>
		<td>a</td>
		<td>a</td>
		<td>a</td>
		<td>a</td>
		<td>a</td>
		<td>a</td>
		<td>a</td>
		<td>編集</td>
		<td>削除</td>
	</tr>
</table>