<div class="container">

  <div class="main">
    <h1>ありがとうございます。注文が確定されました。</h1>


    <div class="finish-orders-list">
    <table border="1" rules="none">
      <tr class="order-title">
        <td>注文日<br></td>
        <td>合計枚数<br></td>
        <td>合計<br></td>
        <td>お届け先<br></td>
        <td>注文番号：<br></td>
      </tr>

      <tr>
        <td rowspan="4">画像<br></td>
        <td colspan="4">商品名：</td>
      </tr>

      <tr>
        <td colspan="4">個数：</td>
      </tr>

      <tr>
        <td colspan="4">価格：</td>
      </tr>

      <tr>
        <td colspan="4">レーベル名：</td>
      </tr>
      </table>

    <div class="order-calculation">
      <table>
      <tr>
        <td colspan="4">小計</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="4">消費税</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="4">送料</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="4">合計</td>
        <td>¥ </td>
      </tr>
    </table>

    </div>

  </div>

</div>
