/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

header{
		background-color: skyblue;
		height: 80px;
		margin-bottom: 50px;
}

header .container{
	padding-top: 30px;
		background-color: skyblue;

}

footer {
	margin: 50px 0 0 0;
	background-color: skyblue;
	padding: 50px 0 0 0 ;
}
 footer .row{
 	/*消したら灰色になる*/
		background-color: skyblue;
 }


.admin-login{
	text-align: center;
	padding: 50px;
}

.admin-login-form{
	display:inline-block;
	border-style: solid;
	padding: 20px;
}

.admin-login-form-label{
	margin: 0 auto;
	text-align: left;
	padding: 5px;
}

.admin-login-form-remember{
	text-align: right;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
