/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Anton|Covered+By+Your+Grace|Josefin+Sans|Kaushan+Script|Lexend+Deca|Lexend+Zetta|Lobster|Manjari|Montserrat|Oswald|Playfair+Display|Roboto+Condensed|Satisfy|Teko&display=swap');

header{
		background-color: rgb(28, 28, 40);
		height: 80px;
		margin-bottom: 50px;
}

header .container{
	padding-top: 30px;
		background-color: rgb(28, 28, 40);

}

footer {
	background-color: rgb(28, 28, 40);
	padding: 50px 0 0 0 ;
}
 footer .row{
 	/*消したら灰色になる*/
		background-color: rgb(28, 28, 40);
 }


.admin-login{
	text-align: center;
	padding: 50px;
}

.admin-login-form{
	display:inline-block;
	border-style: solid;
	padding: 20px;
}

.admin-login-form-label{
	margin: 0 auto;
	text-align: left;
	padding: 5px;
}

.admin-login-form-remember{
	text-align: right;
}



.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


.slick-dots {
  li {
    font-size: 20px !important;
    button:before {
      content: "●" !important;
      font-size: 14px !important;
      color: rgb(60, 60, 60) !important;
    }
  }
}

.header-site-logo {
  float:left;
  margin-right: 100px;
  color:white;
  border:2px solid rgb(230, 230, 230);
  padding:0 5px;
}

.search_form {
  float:left;
  padding-top: 15px;
}

.bgcolor {
  background-image: asset_url("bg.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom:50px;
}

.cart-cd-image {
  display:inline-block;
  width:20rem;
  height:20rem;
}

.top-cd-image img{
  width:9rem;
  height:9rem;
}

.soldout {
  text-align: center;
  width:100%;
}

.bg-container {
  background-color: rgba(10, 10, 10, 0.5);
  padding:50px 50px 50px 50px;
}

// 文字色を白にする
.footer-font,.col-xs-3,.glyphicon,.top-infos,.genre-list a,h2,label,.cdrow,.disc-infos,.carts-index-box,.carts-index-box a,.cart-table-2,.order-confirm-table,.order-confirm-table-2,.finish-order-table,.table,.order-calculation,.finish-orders-list,.fav,.end_users-table-title{
  color:rgb(230, 230, 230);
}

// 文字色を黒にする
input,.wish-list-head,.end_users-table-title{
  color:rgb(10, 10, 10);
}

//背景色を黒にする
.carts-index-box,.cart-table-2,.finish-order-table,.table,.new_order,.order-confirm-left,.order-confirm-right,.finish-orders-list{
  background-color: rgba(0, 0, 0,0.3);
}

.glyphicon,.genre-list {
  font-family: Oswald;
}

.admin-login-form {
  background-color: rgba(28, 28, 40,0.9);
  border:none;
}

 h2{
 font-family:Oswald;
}

.end-user-edit-table td,.end-user-edit-table-2 td{
  padding:5px;
}

.messege {
  text-align: center;
  color:rgb(230, 230, 230);
}

.messege h1{
  font-family:Lexend Zetta!important;
  text-shadow: 1px 1px 0 rgba(28, 28, 40,0.8)
}

.messege p{
  background-color: rgba(28, 28, 40,0.8);
}

.btn-default {
  background-color: rgb(224, 128, 28);
  color:rgb(230, 230, 230);
  border: none;
}
