// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carts-index-box{
	border-style: solid;
	margin:5px;
	padding: 10px;
}
.carts-index-box table{
	width: 100%;
}
.cart-index-box-order-item{
	text-align: right;
}
.carts-index-value td{
	text-align: right;
}

.carts-index-value table{
	border-collapse:collapse;
	width:100%;
}

.carts-index-value-last{
	border-bottom:solid 1px rgb(230, 230, 230);
	border-bottom-color: rgb(230, 230, 230);
}
.carts-index-value{
	padding: 10px;
	width: 20%;
	float: right;
}
.to-order-confirm-btn{
	float: right;
}
