// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.finish-orders-list {
  width:80%;
  margin: 0 auto;
  border:solid rgb(230, 230, 230);
}

.finish-orders-list table{
  width:100%;
}

.order-title{
  background-color: rgb(230, 230, 230);
  color:rgb(10, 10, 10);
}

.finish-orders-list td{
  padding:5px;
}

.order-calculation {
  width:80%;
  margin:0 auto;

}



.order-calculation table{
  width:20%;
  text-align: right;
  margin-top: 15px;
  float:right;
  border-top-style:hidden;
  border-left-style:hidden;
  border-right-style:hidden;
  border-color: rgb(230, 230, 230);
}

.confirm-contents {
  width:80%;
  margin:0 auto;
}

.confirm-contents table{
  width:100%;
}

.order-confirm-left {
  border:solid rgb(230, 230, 230);
  border-bottom-style:hidden;
  padding:10px 10px 0px 10px;
}

.order-confirm-right {
  border:solid rgb(230, 230, 230);
  border-top-style:hidden;
  padding:0px 10px 10px 10px;
}

.order-confirm-right table{
  text-align: right;
  margin-bottom:10px;
}

.order-confirm-right a{color:rgb(230, 230, 230);
}

.order-confirm-buy {
  float:right;
}
