// Place all the styles related to the sell_cds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  // background-color: rgb(231, 232, 231)
}

.cd-images {
  float:left;
  width:30%;
}
.cd-image {
  width:100%;
}

.top-infos {
  float:right;
  width:60%;
}

.order-info {
  width:100%;
}

.order-info td{
  text-align: left;
  padding:5px 0;
}

.disc-infos table{
  width:100%
}

.disc-infos td{
  border-collapse: collapse;
    border:1px solid #333;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
