// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top-main {
  width:100%
}


h1 {
  text-align: center;
  color: rgb(230, 230, 230)!important;
  font-family: Oswald!important;
}


.new-arivval-box{
  float:left;
  width:18%;
  margin-right:2%;
  background-color: rgba(255, 255, 255,1);
  font-family: Playfair Display;
  padding:10px 10px;
}

.new-arivval-box a {
  color:white
}

.top-cd-title {
  background-color: rgb(28, 28, 40);
}

.new-arivval-box table td {
  text-align:center;
  padding:5px 5px;
}

.top-cd-no-image {
  width:100%;
}
