// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container {
  width:100%
}

.main {
}


h1 {
  text-align: center;
}


.new-arivval-box {
  float:left;
  width:20%;
}

.new-arivval-box table td {
  text-align:center;
  padding:5px 5px;
}
