<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
         <%= link_to "顧客管理画面",admins_end_users_path, class: "glyphicon", style:"padding-top:15px;"%>
        </li>
        <li>
           <%= link_to "商品管理画面", admins_sell_cds_path,class: "glyphicon", style:"padding-top:15px;"%>
        </li>
        <li>
          <%= link_to "購入履歴一覧", #ここにroutingをお願いします, class: "glyphicon glyphicon-edit sign_up", style:"padding-top:15px;"%>
        </li>
      </ul>
    </nav>
          <% end %>
  </div>
</header>


