<!-- genres -->
<div class="sidebar">
	<div class="col-xs-3">
		<h3>ジャンル</h3>
		<ul>
		<% genres.each do |genre|%>
			<li>
				<%= link_to sell_cds_genreidserch_path(genre.id) do%>
					<%=genre.genre%>
				<%end%>
			</li>
		<%end%>
		</ul>
	</div>
</div>